<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/angular-pickadate.css">
    <style type="text/css">
      .container {
        width: 300px;
        margin: auto;
      }
      .selected-date {
        padding: 10px;
        text-align: center;
      }
    </style>
  </head>
  <body ng-app="testApp" id="ng-app" ng-controller="TestController">
    <div class="container">
      <div pickadate ng-model="date" min-date="minDate" max-date="maxDate" disabled-dates='disabledDates'></div>

      <div class="selected-date">
        Wybrana data: {{date || '(no date selected)'}}
      </div>
    </div>

    <script type="text/javascript" src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>
    <script type="text/javascript" src="../js/angular-pickadate.js"></script>
    <script type="text/javascript">
	    var today = new Date();
	    var dd = today.getDate();
	    var mm = today.getMonth()+1;
	    var yy = today.getFullYear();
	    if (mm<10) {mm = "0" + mm;}
	    	else {mm = mm;}
	    var todays = yy+"-"+mm+"-"+dd;
    
      angular.module('testApp', ['pickadate']);

      function TestController($scope, dateFilter) {
        $scope.date = todays;
        $scope.minDate = '2015-01-01';
        $scope.maxDate = '2016-12-31';
        $scope.disabledDates = ['2015-05-03', '2015-05-01'];
      }
    </script>
  </body>
</html>
