<ion-view view-title="ionicApp">
	<ion-content>
		<ion-list>
			<ion-item nav-clear menu-close ng-click="login()">
				Login
			</ion-item>
			<ion-item nav-clear menu-close href="#/app/input">
				Data input
			</ion-item>
			<ion-item nav-clear menu-close href="#/app/calendar">
				Calendar
			</ion-item>
			<ion-item nav-clear menu-close href="#/app/charts">
				Charts
			</ion-item>
			<ion-item nav-clear menu-close href="#/app/info">
				Info
			</ion-item>
			<!--
			<ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
			{{playlist.title}}
			</ion-item>
			-->

		</ion-list>
	</ion-content>
</ion-view>
