<ion-view view-title="Input">
  <ion-content>
    <h1>Data input</h1>
    <div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Name</span>
				<input type="text" placeholder="Name">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Cośtam</span>
				<input type="text" placeholder="Cośtam">
			</label>
			<label class="item item-input"> 				
				<textarea placeholder="Text"></textarea> 
			</label>
		</div>
		<button class="button button-block button-positive">Okejka</button>
  </ion-content>
</ion-view>