<ion-view view-title="ionicApp">
	<ion-content>
		<ion-list>

			<ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
			{{playlist.title}}
			</ion-item>

		</ion-list>
	</ion-content>
</ion-view>
